<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.adapty">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:fullBackupContent="@xml/adapty_backup_rules"
        android:dataExtractionRules="@xml/adapty_data_extraction_rules" />

</manifest>